/*Reset do navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/


header {
    background-color: #191227;
    color: #ecf0f1;
    padding-right: 10%;
}

header h1, section h2 {
    font-weight: normal;
}

header img {
    width: 15%;
}

header, section h2, section h3, form button {
    /*Todas as seções importantes de títulos com fonte externa*/
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}

header li {
    display: inline;
    font-size: 16px; /*Diminuimos os botões pra o nome do site ficar destacado*/
}
/*O color no botão só vai funcionar colocando também no a*/

header li a {
    display: inline;
    margin-left: 10px;
    color: #8c52ff;
    text-decoration: none;
} 

header li a:hover {
    display: inline;
    color: #ecf0f1;
    text-decoration: underline;
} 

header .button-selected {
    font-weight: 100;
    border: none;
    background-color: #191227;
    cursor: pointer;
    display: inline;
    margin-left: 6px;
    color:#ecf0f1;
    text-decoration: underline;
}

header .title {
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .container, section .container {
    display: flex;
    align-items: center; /*centraliza na horizontal*/
    justify-content: space-between; /*Para ficarem um na direita e outro na esquerda*/
}


/*FIM HEADER*/

/*Início do Body*/

body{
    /*Tudo que esta dentro do body com fonte mais arredondada, parágrafos, inputs etc.*/
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#global {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto; /*Centro*/
    overflow-x: hidden;
}


/*INÍCIO DA SEÇÃO SOBRE*/

/*Fachada loja*/
#sobre .store-front {
    /*Aqui aplicou a margem nos logos também para resolver
    criamos no html uma class dentro da img.
    Então trocamos section img para a class que criamos*/
    border:#191227 solid;
    width: 33.33%;
    box-sizing: border-box;
    margin: 0;
}

#sobre .text-sobre {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}


#sobre .container button {
    margin-left: 100%;
    background-color: #8c52ff;
    margin-bottom: 5px;
    border: #191227 solid;
}

#sobre .container button:hover {
    text-decoration: underline;
    background-color: #8c52ff;
    border: #9f70fd solid;
}

#sobre .container button:focus {
    text-decoration: underline;
    background-color: #8c52ff;
    border: #9f70fd solid;
}


#sobre .store-front:hover {
    border: #8c52ff solid;
}

.brandis-list img {
    width: 5%; /*Diminuindo os logos da seção sobre*/
}

/*fim seção sobre*/

/*CONFIGS GERAIS*/

section {
    padding: 24px 0; 
    color: #191227;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 16px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}


section h3 {
    margin-bottom: 16px;
}
/*fim configs gerais*/

/*Seção funcionamento*/
#funcionamento .container {
    width: 100%;
}

#funcionamento ul {
    margin-left: 1%;
}

#funcionamento .funcionamento-methods{
    width: 100%;
}


#carousel .container {
    width: 100%;
}



.carousel-inner {
    box-sizing: border-box;
    border: #191227 solid;
    margin-top: 1%;
    width: 600px;
}

.carousel-inner:hover {
    border: #8c52ff solid;
}

#referencias .container {
    display: block;
}

/*Fim seção funcionamento*/

/*--------------------

Início seção diário de bordo*/

#diariodebordo ul {
    margin-left: 1%;
}

/*

Aqui pega as configurações gerais de container, e também as fontes gerais.
No mais usando ul

------------------------*/


/*Inicio sessão builds*/

#builds-classes .container {
    margin-bottom: 10%;
}

#builds-desc .container {
    display: block;
}

#builds-classes img, #builds-classes h2 {
    width: 70%;
}

/*fim sessão builds*/

/*Início seção referência*/

#referencias {
    width: 100%;
}

#referencias .container img {
    width: 10%;
}

.video {
    border: #191227 solid;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 30.33%;
    height: 300px;
}

.video:hover {
    border: #8c52ff solid;
}

/*Fim seção referência*/

/*Seção redes sociais*/

.redes-methods img, .redes-methods h3 {
    display: inline-block;
    width: 5%;
    margin-left: 2%;
}

/*páginas upchar e leech*/


#produtos .container img {
    width: 30%;
    height: 20%;
}


#ultimas-novidades h2, #ultimas-novidades p{
    margin-left: 10%;
}

#ultimas-novidades ul {
    margin-left: 10%;
    width: 100%;
}

#produtos .container .nossosprodutos{
    margin-left: 2%;    
    display: block;
}

#produtos .nossosprodutos {
    border-bottom: #191227 solid 3px;
    margin-top: -10%;
    display: block;
}

#produtos .sessaolista {
    width: 100%;
    display: block;
}


/*Rodapé*/
footer {
    background-color: #191227;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}


/*RESPONSIVIDADE*/

@media only screen and (max-width: 800px) {
    /*Reset do navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header {
    background-color: #191227;
    color: #ecf0f1;
    width: 100%;
    box-sizing: border-box;
}

header h1, section h2, section h3 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}

header img {
    float: left;
    margin: 0;
    width: 11vh;
}


header li {
    padding-right: 3%;
    width: 100vh;
    margin: 0, auto;
    display: inline;
    justify-content: space-between;
    align-items: center;
    font-size: 9px; /*Diminuimos os botões pra o nome do site ficar destacado*/
}
/*O color no botão só vai funcionar colocando também no a*/

header li a {
    display: inline;
    color: #8c52ff;
    text-decoration: none;
} 

header li :nth-child(1){
    margin-left: -0.15%;
}

header li a:hover {
    display: inline;
    color: #ecf0f1;
    text-decoration: underline;
} 

header .button-selected {
    font-weight: 100;
    border: none;
    background-color: #191227;
    cursor: pointer;
    display: inline;
    color:#ecf0f1;
    text-decoration: underline;
}

header .title {
    margin-top: 20px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

header .container, section .container {
    display: block;
    align-items: center; /*centraliza na horizontal*/
    justify-content: space-between; /*Para ficarem um na direita e outro na esquerda*/
}

/*FIM HEADER*/

/*Início do Body*/

body {
    /*Tudo que esta dentro do body com fonte mais arredondada, parágrafos, inputs etc.*/
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto; /*Centro*/
    overflow-x: hidden;
}


/*INÍCIO DA SEÇÃO SOBRE*/

#sobre .text-sobre {
        width: 100%;
        display: block;
        margin: 0 auto;}


#sobre .container button {
    margin-left: 67%;
    background-color: #8c52ff;
    margin-bottom: 5px;
    border: #191227 solid;
}

#sobre .container button:hover {
    text-decoration: underline;
    background-color: #8c52ff;
    border: #9f70fd solid;
}

#sobre .container button:focus {
    text-decoration: underline;
    background-color: #8c52ff;
    border: #9f70fd solid;
}

#sobre .store-front {
    /*Aqui aplicou a margem nos logos também para resolver
    criamos no html uma class dentro da img.
    Então trocamos section img para a class que criamos*/
    border:#191227 solid;
    width: 100%;
}


#sobre .store-front:hover {
    border: #8c52ff solid;
}



.brandis-list img {
    width: 10%; /*Diminuindo os logos da seção sobre*/
}

.brandis-list li {
    margin-right: 8px;
    display: inline; /*Deixar um do lado do outro*/
}

/*fim seção sobre*/

/*CONFIGS GERAIS*/

section {
    padding: 24px 0; 
    color: #191227;
}

section h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

section p {
    margin-bottom: 16px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}


section h3 {
    margin-bottom: 16px;
}
/*fim configs gerais*/

/*Seção funcionamento*/
#funcionamento .container {
    width: 100%;
}

#funcionamento .funcionamento-methods{ 
    width: 100%
}


#carousel .container {
    width: 100%;
}



.carousel-inner {
    box-sizing: border-box;
    border: #191227 solid;
    margin-top: 1px;
    width: 100%;
}

.carousel-inner:hover {
    border: #8c52ff solid;
}

#referencias .container {
    display: block;
}

/*Fim seção funcionamento*/

/*--------------------

Início seção diário de bordo
*/

#diariodebordo {
    width: 100%;
}



/*Inicio sessão builds*/

#builds-classes .container {
    margin-bottom: 10%;
    display: inline;
    width: 100%;
}

#builds-classes img, #builds-classes h3 {
    margin-top: 2%;
    margin-left: 10%;
    display: inline;
    width: 40%;
}

/*fim sessão builds*/

/*Início seção referência*/

#referencias .container img {
    width: 10%;
    position: relative;
}

.video {
    border: #191227 solid;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 200px;
}

.video:hover {
    border: #8c52ff solid;
}

/*Fim seção referência*/

/*Seção redes sociais*/

#redessociais-desc .redes-methods h3 {
    width: 100%;
    height: 100%;
}

.redes-methods img {
    display: block;
    width: 5%;
}

/*Rodapé*/
footer {
    height: 100%;
    width: 100vw;
    background-color: #191227;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}

footer p{
    margin-left:-10px;
    width: 100%;
}

#robbu-whatsapp-button {
    margin: 0;
    padding: 0;
}

#produtos{
    width: 100%;
    margin: 0 auto;
    display: block;
}

#produtos .nossosprodutos{
    margin-top: 50px;
    width: 100%;
    display: block;
}


#produtos img {
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    width: 75%;
}

#guiaup .container {
    display: block;
    width: 100%;
}

#guiaup h2, #guiaup ul, #guiaup p {
    display: block;
    margin-left: 2%;
}

#guiaup img {
    margin: 0 auto;
    width: 100%;
}

}

@media only screen and (min-width: 1600px)
{
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }

    header .container, section .container {
        /*Quando colocamos a vírgula, reaproveitamos o mesmo ajuste
        para container para posicionar lado a lado*/
        display: flex;
        justify-content: space-between; /*Para ficarem um na direita e outro na esquerda*/
    }

    header, section h2, section h3 {
        /*Para não ter que colocar nos botões vírgula header ul li, colocamos
        só header que engloba tudo que esta dentro */
        font-family: 'Bungee', sans-serif;
        font-weight: normal;
    }
    
    header {
        background-color: #191227;
        color: #ecf0f1;
    }
    
    header h1 {
        justify-content: border-box;
        display: inline;
        font-weight: normal;
        position: relative;
        margin-bottom: 130px;
    }

    header .title {
        font-size: 50px;
    }
    
    header img {
        display: inline;
        float: right;
        width: 15%;
    }
    
    header li {
        box-sizing: border-box;
        display: inline;
        margin-left: -2%;
        padding-right: 2%;
        font-size: 20px; /*Diminuimos os botões pra o nome do site ficar destacado*/      
        color: #8c52ff;
        text-decoration: none;
    }
    /*O color no botão só vai funcionar colocando também no a*/

    
    header li a:hover {
        display: inline;
        color: #ecf0f1;;
        text-decoration: underline;
    } 
    
    /*Inicio sessão sobre*/
    
    .container {
        max-width: 1680px; /*Ele só vai chegar a esse maximo em resoluções desse tamanho a*/
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #sobre .container{
        margin: 0;
        width: 100%;
        box-sizing:content-box;
        justify-content: space-between;
    }
    
    #sobre .store-front {
        float: left;
        margin-left: 10%;
        width: 33.33%;
        box-sizing: border-box;
        display: inline;
    }

    #sobre .text-sobre {
        width: 50.33%;
        display: inline;
        box-sizing: border-box;
        float: right;
    }
    
    #sobre .container button {
        box-sizing: border-box;
        margin-left: 75%;
        background-color: #8c52ff;
        position: relative;
    }   

    
    #sobre .brandis-list img {
        width: 3%; /*Diminuindo os logos*/
    }
    
    section .container {
        /*Uso de cascata, temos uma regra, usamos outra regra
        subscrevendo a anterior.*/
        /*Tivemos que reescrever a regra por causa do aling itens da section header
        assim ele vai startar do começo da página*/
        align-items:flex-start;
        justify-content: space-between;
    }

    /*Sessão funcionamento*/

    #funcionamento .container {
        width: 100%;
        display: inline;
        justify-content: space-between;
    }

    #funcionamento .funcionamento-methods {
        float: left;
        width: 45%;
        margin-left: 5%;
    }

    #funcionamento #carousel .container {
        justify-content: space-between;
    }
    
    #funcionamento #carouselExampleIndicators {
        float: right;
        inline-size: 40%;
        display: block;
        margin-right: 5%;
    }

    #referencias {
        text-align: center;
        width: 100%;
    }
    
    #referencias .container {
        box-sizing: border-box;
        display: inline;
    }

    #referencias .video {
        margin-left: 1%;
        margin-right: 10px;
        display: inline;
        height: 350px;
        width: 30.33%;
    }

    /*builds das classes*/

    #builds-classes {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }
    
    #builds-classes .classes {
        width: 100%;
        display: inline;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0 auto;
    }
    
    #builds-classes .classes img, .classes h2, .classes h3 {
        width: 4%;
    }

    .social-links img {
        height: 24px;
    }
    
    .social-links li {
        display: inline;
        margin-right: 8px;
    }
    
    .social-links li a {
        text-decoration: none;
    }
    
    #contact .container {
        display: block;
    }
    
    .contact-methods {
        display: flex;
        justify-content: space-between;
    } 

    #global {
        margin: 0;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    section #produtos, section #img-produtos{
        display: inline;
        text-align: center;
        width: 100%;
        margin-top: 0;
        justify-content: space-between;
    }

    section #img-produtos img {
        box-sizing: border-box;
        display: inline;
        width: 80%;
        height: 50%;
        margin: 2%;
        margin-right: 5%;
        margin-left: 2%;
    }

    section #produtos .nossosprodutos {
        text-align: left;
        padding-right: 0%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        margin-top: 2%;
        box-sizing: content-box;
    }

    #produtos .resnovidades, .resnovidades h3{
        text-align: left;
        padding-right: 3%;
        width: 100%;
        box-sizing: border-box;
    }

    #guiaup {
        justify-content: space-between;
        text-align: left;
        width: 100%;
        margin: 20px;
        margin-top: 0;
    }


    #guiaup img {
        box-sizing: border-box;
        display: inline;
        float: left;
        width: 35%;
        margin-right: 2%;
        margin-right: 10%;
    }

        
    footer {
        background-color: #191227;
        color: #ecf0f1;
        padding: 18px;
        width: 100%;

    }
}